<footer class='page-footer indigo darken-4 '>
    {{#md-copyright text='Copyright Chattermill'
        startYear=2015
        class='indigo darken-4 white-text'}}
        <a class="white-text right" href="mailto:hello@chattermill.io">
          Contact us for more features
        </a>
    {{/md-copyright}}
</footer>