.nps-badge {
  .cm-promoter {
    @extend .white-text;
    background-color: $cm-green;
  }

  .cm-passive {
    @extend .white-text;
    background-color: $cm-grey;
  }

  .cm-detractor {
    @extend .white-text;
    background-color: $cm-pink;
  }
}