{{#if renderNavbar}}
  <header>
    {{partial "shared/navbar"}}
  </header>
{{/if}}
<main>
  <div class="section no-pad-bot" id="index-banner">
    {{outlet}}
  </div>
</main>
{{#if renderNavbar}}
  {{partial "shared/footer"}}
{{/if}}