<ul>
  {{#each model as |campaign|}}
    <li>
      {{#link-to 'campaign' campaign.id}}
        {{campaign.companyName}} - {{time-format campaign.createdAt "MMMM D YYYY"}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>