<h1 class="header center black-text cm-header">Free Net Promoter Score</h1>
<div class="row center">
  <h5 class="header col s12 light">Just connect your Mailchimp account and get started in seconds.</h5>
</div>
<div class="row center">
  {{#if session.isAuthenticated}}
    {{#link-to 'campaigns/design' class="btn-large waves-effect waves-light pink accent-1"}}
      Get Started
    {{/link-to}}
  {{else}}
    {{#link-to 'login' class="btn-large waves-effect waves-light pink accent-1"}}
      Get Started
    {{/link-to}}
  {{/if}}
</div>

<div class="container cm-icon-container">
    <div class="section">
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text cm-home-icons"><i class="mdi-image-flash-on"></i></h2>
            <h5 class="center">Fastest setup</h5>

            <p class="light">It only takes 10 seconds to set up your first NPS campaign. We connect directly to your Mailchimp account and survey you subscribers straight away .</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text cm-home-icons"><i class="mdi-image-color-lens"></i></h2>
            <h5 class="center">Beautiful design</h5>

            <p class="light">Responsive emails designed to work on any device. You can customise the colors and include your logo.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text cm-home-icons"><i class="mdi-editor-insert-chart"></i></h2>
            <h5 class="center">Data that is easy to work with</h5>

            <p class="light">We don't just calculate your Net Promoter Score, you can also easily browse all of the feedback with our unique instant search.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>


