<div class="section cm-login-window">
  <div class="row">
    <div class="col m4 s12 offset-m4 center-align">
      <img class="cm-mailchimp-logo" src="/images/mailchimp-logo-750.png">
    </div>
  </div>
  <div class="row">
    <div class="col m4 s12 offset-m4 center-align">
      {{md-btn text='Login with Mailchimp'
        action='authenticate'
        buttonType='large'
        icon='mdi-content-send'
        iconPosition='right'
        class='deep-orange darken-2 white-text'}}
    </div>
  </div>
</div>