<div class="section cm-login-window">
  <div class="row">
    <div class="col m4 s12 offset-m4">
      <img class="img-responsive center-block" src="http://cdn.blog.cpcstrategy.com/wp-content/uploads/2014/06/top-email-marketing-service-mailchimp-logo.png">
    </div>
  </div>
  <div class="row">
    <div class="col m4 s12 offset-m4 center-align">
      {{md-btn text='Login with Mailchimp'
        action='authenticate'
        buttonType='large'
        icon='mdi-content-send'
        iconPosition='right'
        class='deep-orange darken-2 white-text'}}
    </div>
  </div>
</div>